<h1>Welcome to Coin Return</h1>
<form action="/output">
  <div class="form-group">
     <label for="change">How much change you receive from us.
     </label>
     <input id="change" name="change" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Calculator</button>
</form>
